html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  background: #f3f3f3;
}

svg {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
}

path.domain {
  stroke: none;
}

.y .tick line {
  stroke: #ddd;
}

.container-h-100{
  width: 2000px;
  height: 90%;
  overflow: hidden;
}

.flex-container{
  display: flex;
}

.box-66{
  width: 25%;
  position: relative;
  margin: 15px;
  padding: 15px;
  box-shadow: 0px 0px 16px rgba(0,0,0,.1);
  border-radius: 15px;
}

.svg{
  margin: 15px;
  padding: 15px;
  box-shadow: 0px 0px 16px rgba(0,0,0,.1);
  border-radius: 15px;
}

#goal{
  width: 200px;
}
